@import "tailwindcss";
@layer utilities {
 
  .font-impact {
    font-family: var(--font-impact), sans-serif;
  }
  .font-tektur {
    font-family: var(--font-tektur), sans-serif;
  }
  .font-oswald {
    font-family: var(--font-oswald), sans-serif;
  }
  .font-caveat {
    font-family: var(--font-caveat), sans-serif;
  }
  .font-lora {
    font-family: var(--font-lora), sans-serif;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
}

.bg-navbar {
  background-image: url('/images/nav-img.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-hero-custom {
  background-image: url('/images/hero-section.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-mobile-dropdown {
  background-image: url('/images/mobile-dropdown.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-project {
  background-image: url('/images/project-image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-about {
  background-image: url('/images/about-image.webp');
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}
.bg-footer {
  background-image: url('/images/footer-image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scrolling-text {
  overflow: hidden;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  background-color: var(--color-just-black);
}
.scrolling-text .rail {
  display: flex;
  gap: 48px;
}
.scrolling-text .rail h4 {
  white-space: nowrap;
  font-size: 200px;
  letter-spacing: ls(120);
  line-height: 1em;
  margin: 0 30px 0 0;
  color: #F3F3F3
}

.split {
  opacity: 0;
  text-align:center;
  color: rgb(14, 16, 15);
  font-size: clamp(2rem, 5rem, 3vw);
  letter-spacing: 0.05rem;
  will-change: transform;
  color: #0e100f;
}

.split * {
  will-change: transform;
}
