@import "tailwindcss";
@layer utilities {
  .font-satoshi {
    font-family: var(--font-satoshi), sans-serif;
  }
  .font-impact {
    font-family: var(--font-impact), sans-serif;
  }
  .font-tektur {
    font-family: var(--font-tektur), sans-serif;
  }
  .font-oswald {
    font-family: var(--font-oswald), sans-serif;
  }
  .font-caveat {
    font-family: var(--font-caveat), sans-serif;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hero-custom {
  background-image: url('/images/hero-section.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-mobile-dropdown {
  background-image: url('/images/mobile-dropdown.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-project {
  background-image: url('/images/project-image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-about {
  background-image: url('/images/about-image.webp');
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}
.bg-footer {
  background-image: url('/images/footer-image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
