@import "tailwindcss";
@layer utilities {
  .font-satoshi {
    font-family: var(--font-satoshi), sans-serif;
  }
  .font-bricolage {
    font-family: var(--font-bricolage), sans-serif;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hero-custom {
  background-image: url('/images/hero-section-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-hero-text-custom {
  background-image: url('/images/hero-text-section.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-project-section-custom {
  background-image: url('/images/bg-project-section.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-about-section-custom {
  background-image: url('/images/about-section.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
